@import 'tailwindcss';

body {
  background-color: var(--color-mist-100);
  color: var(--color-stone-800);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(0.75rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
